@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    padding-top: 0%;
    margin-top: 0%;

}


.box-container {
    padding-top: 3%;
    height: 100%;
    font-size: large;
    display: block;
    align-content: center;
    /* overflow-y: hidden; */
}

fieldset {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    border: 2px #01033b solid;
}

legend {
    padding-left: 7px;
    padding-right: 7px;
    color: #0b0b0b;
}

form {
    width: 600px;
    margin: auto;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: transparent;
}

.otd1 {
    padding-bottom: 15px;
}

.otd2 {
    padding-bottom: 15px;
}

.otd3 {
    color: #0a0a0a;
}

input {
    padding: 20px;
}


input[type=text],
input[type=date],
input[type=email],
input[type=tel],
select {
    width: 100%;
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    margin: 8px 0;
    display: inline-block;
    font-size: 15px;
    border: 2px solid #01033b;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 5px;
}


input[type=checkbox] {
    margin-left: 36%;
    color: #040404;
    transform: scale(2);
    margin-right: 1rem;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px black solid;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 60%;
    font-size: 20px;
}

button a {
    text-decoration: none;
}