.search_menu_bar {
    background: transparent linear-gradient(90deg, rgb(32, 5, 79) 0%, #340f79 50%, rgb(81, 14, 197) 100%) 0% 0% no-repeat padding-box;
    border-bottom: 0;
    height: 90px;
}

.search-fromTo {
    width: auto;
    height: 80px;
    margin: 5px;
    margin-left: 10%;
    padding: 0 1.5rem;
    border-right: solid #fff;
    color: #fff;
    font-size: 3rem;
    background-color: transparent;
    text-transform: uppercase;
}

.search-depDate {
    width: auto;
    height: 80px;
    margin: 5px;
    padding: 0 1.5rem;
    border-right: solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 600;
}

.search-lable-depart {
    width: auto;
    margin-top: 7px;
    height: 30px;

}

.search-lable-date {
    width: auto;
    margin-top: 10px;
    height: 30px;
}

.search-div-passanger {
    width: auto;
    height: 80px;
    margin: 5px;
    padding: 0 1.5rem;
    border-right: solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 600;
}

.search-lable-passanger {
    width: auto;
    margin-top: 7px;
    height: 30px;
}

.search-lable-num-pass {
    width: auto;
    margin-top: 10px;
    height: 30px;
}

.search-div-yourbook {
    width: auto;
    height: 80px;
    padding: 0 1.5rem;
    color: #fff;
    background-color: transparent;
    font-size: 1.4rem;
    margin-left: 40%;
}

.search-date-day {
    width: 100%;
    padding-top: 23px;
    height: 50px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
}

.search-flight-list {
    width: 90%;
    height: 190px;
    margin-left: 5%;
    background-color: #fff;
    margin-top: 2%;
    border-radius: 20px;
    box-shadow: 0 .8rem 3rem rgba(0, 0, 0, .2);
}